.content-input{
    width: 100%;
    margin-bottom: 20px;
    color: $colorText;
    & label{
        display: block;
        border-bottom: 1px solid $colorText;
        color: $colorText;
        height: 100%;
        margin-bottom: 0;
        padding-right: 5px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 37px;
        min-width: 130px;
    }
    & input{
        width: 100%;
        border: none;
        border-bottom: 1px solid $colorText;
        border-radius: 0;
        unicode-bidi: bidi-override;
        direction: rtl;
        font-weight: 600;
        padding: .4rem 0;
        color: $colorText;
        &:focus{
            box-shadow: none;
        }
    }
    & p{
        font-size: 12px;
    }
}